In [14]:
import pandas as pd

def func(x):
    print('-------')
    print(x)
    print('-------')
    return x

df = pd.read_json('/home/pgajo/projects/def-hsajjad/pgajo/natcode-llm-kgc/data/parsing/conll04/test_triples.json')
num_ents = df['triple_list'].apply(lambda x: len(x))
df['num_ents'] = num_ents
df = df.sort_values(by='num_ents', ascending = 0)
display(df[:5])

,text,triple_list,num_ents
142,( Text ) The situation remains explosive in Na...,"[[Nampula Province, Located_in, Namialo], [Nor...",11
165,( Text ) Sao Paulo -- The Sao Paulo State Atto...,"[[Institute for Nuclear and Energy Research, O...",9
121,Working with U.S. Mike Norton on the case are ...,"[[Mike Norton, Live_in, U.S.], [Ken Fimberg, L...",7
144,At the proposal of the Serb Radical Party ( SR...,"[[Branko Vojnic, Live_in, Beli Manastir], [Mar...",7
104,Iowa Republican Terry Branstad was installed a...,"[[Terry Branstad, Live_in, Iowa], [Terry Brans...",6

In [87]:
k = 16
print(df.iloc[k].text)
df.iloc[k].triple_list

Lawrence Kane Jr. of Cincinnati , Ohio 's special prosecutor in the Home State case , declined comment on any settlement possibilities.

[['Lawrence Kane Jr.', 'Live_in', 'Cincinnati'],
 ['Lawrence Kane Jr.', 'Live_in', 'Ohio'],
 ['Cincinnati', 'Located_in', 'Ohio']]