In [44]:
import os
import numpy as np
import json
import pandas as pd
import re

df_list = []

for root, dirs, files in os.walk('/home/pgajo/projects/def-hsajjad/pgajo/natcode-llm-kgc/results_icl=3'):
    for F in files:
        filename = os.path.join(root, F)
        with open(filename, 'r', encoding='utf8') as f:
            data = json.load(f)
        model_name = data[0]['Model'].split('/')[-1]
        entry = {
            'model': model_name.split('_')[0],
            'module': re.search(r"mod=(\w(-\w)?(-\w)?)", model_name).group(1),
            'dataset': model_name.split('_')[2],
            'lang': model_name.split('_')[3],
            'prompt': model_name.split('_')[4],
            'f1_mean': np.mean([el['F1_Score'] for el in data]).round(3),
            'f1_std': np.std([el['F1_Score'] for el in data]).round(3),
            'prec_mean': np.mean([el['Precision'] for el in data]).round(3),
            'prec_std': np.std([el['Precision'] for el in data]).round(3),
            'rec_mean': np.mean([el['Recall'] for el in data]).round(3),
            'rec_std': np.std([el['Recall'] for el in data]).round(3),
        }

        df_list.append(entry)
        
        
df = pd.DataFrame(df_list)
# display(df)
df_grouped = df.groupby(by=['dataset', 'lang', 'prompt', 'module'])['f1_mean'].mean().reset_index()
df_grouped

    dataset     lang     prompt module  f1_mean
0       ade     code  rationale      k    0.679
1       ade     code  rationale    k-v    0.697
2       ade     code  rationale      q    0.073
3       ade     code  rationale    q-k    0.555
4       ade     code  rationale  q-k-v    0.753
5       ade     code  rationale    q-v    0.602
6       ade     code  rationale      v    0.623
7       ade  natlang       base    k-v    0.773
8       ade  natlang       base      q    0.724
9       ade  natlang       base  q-k-v    0.774
10      ade  natlang       base    q-v    0.760
11      ade  natlang       base      v    0.767
12      ade  natlang  rationale      k    0.670
13      ade  natlang  rationale    k-v    0.762
14      ade  natlang  rationale      q    0.271
15      ade  natlang  rationale    q-k    0.514
16      ade  natlang  rationale  q-k-v    0.770
17      ade  natlang  rationale    q-v    0.723
18      ade  natlang  rationale      v    0.735
19  conll04     code  rationale      k    0.430
20  conll04     code  rationale    k-v    0.492
21  conll04     code  rationale      q    0.331
22  conll04     code  rationale    q-k    0.410
23  conll04     code  rationale    q-v    0.549
24  conll04     code  rationale      v    0.498
25  conll04  natlang       base    k-v    0.637
26  conll04  natlang       base      q    0.605
27  conll04  natlang       base  q-k-v    0.641
28  conll04  natlang       base    q-v    0.642
29  conll04  natlang       base      v    0.634
30  conll04  natlang  rationale      k    0.370
31  conll04  natlang  rationale    k-v    0.497
32  conll04  natlang  rationale      q    0.539
33  conll04  natlang  rationale    q-k    0.379
34  conll04  natlang  rationale  q-k-v    0.492
35  conll04  natlang  rationale    q-v    0.620
36  conll04  natlang  rationale      v    0.541
37   scierc     code  rationale      k    0.087
38   scierc     code  rationale    k-v    0.190
39   scierc     code  rationale    q-v    0.213
40   scierc     code  rationale      v    0.259
41   scierc  natlang       base      k    0.274
42   scierc  natlang       base    k-v    0.347
43   scierc  natlang       base      q    0.311
44   scierc  natlang       base  q-k-v    0.341
45   scierc  natlang       base    q-v    0.376
46   scierc  natlang       base      v    0.357
47   scierc  natlang  rationale      k    0.089
48   scierc  natlang  rationale    k-v    0.179
49   scierc  natlang  rationale      q    0.173
50   scierc  natlang  rationale    q-k    0.151
51   scierc  natlang  rationale  q-k-v    0.199
52   scierc  natlang  rationale      v    0.282